* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-areas:
    "pad-left  content  pad-right";
}

.wrapper {
  display: grid;
  text-align: center;
  max-width: 1920px;
  min-height: 100vh;
  grid-template-rows: auto auto auto;
  grid-area: content;
}

.header {
  display: grid;
  grid-template-columns: 3vw 78px auto 128px 3vw;
  grid-template-areas:
    "pad-left  logo  nav  button  pad-right";
  background-color: rgba(0, 255, 255, 0.147);
  padding: 15px 0 15px 0;
}

.logo {
  width: 120px;
  grid-area: logo;
  align-self: center;
}

.navigate {
  display: flex;
  align-items: center;
  grid-area: nav;
}

.navigate-wrapper {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.navigate-link {
  font-size: 14px;
  color: #82868F;
}

.login-button-wrapper {
  display: flex;
  justify-content: end;
  grid-area: button;
}

.login-button {
  width: 128px;
  height: 43px;
  border: none;
  border-radius: 50px;
  color: #F7FDFE;
  font-size: 13px;
  background-color: rgba(14, 191, 221, 1);
  align-self: center;
  cursor: pointer;
}

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}

.lorem-ipsum-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: 0 auto;
  color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 10px 20vw 10px;
}

.lorem-ipsum-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 10px 60px 10px;
}

.lorem-ipsum-1-header,
.lorem-ipsum-2-header,
.lorem-ipsum-3-header,
.lorem-ipsum-4-header {
  font-size: 44px;
  margin-bottom: 30px;
}

.lorem-ipsum-1-text,
.lorem-ipsum-2-text,
.lorem-ipsum-4-text {
  text-align: center;
  font-size: 20px;
  max-width: 750px;
}

.lorem-ipsum-2-text {
  max-width: 1200px;
}

.lorem-ipsum-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: rgba(14, 191, 221, 1);
  padding: 70px 0 70px 0;
}

.lorem-ipsum-3-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0 100px 0;
}

.lorem-ipsum-3-content {
  display: flex;
  flex-direction: column;
}

.lorem-ipsum-3-img {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 20px;
}

.lorem-ipsum-3-img-1 {
  background-image: url(/img/USA-300.jpg);
}

.lorem-ipsum-3-img-2 {
  background-image: url(/img/Spanish-300.jpg);
}

.lorem-ipsum-3-img-3 {
  background-image: url(/img/Turkish-300.jpg);
}

.lorem-ipsum-3-img-header {
  text-align: center;
  font-size: 22px;
}

.lorem-ipsum-3-img-text {
  font-size: 19px;
}

.lorem-ipsum-3-button {
  width: 182px;
  height: 42px;
  color: white;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 50px;
  background-color: transparent;
  align-self: center;
  cursor: pointer;
}

.lorem-ipsum-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(249, 245, 237, 1);
  padding: 50px 0 50px 0;
}

.lorem-ipsum-4-email {
  width: 220px;
  height: 47px;
  border: 1px solid rgba(69, 73, 77, 1);
  border-radius: 10px;
  margin-top: 50px;
  padding-left: 10px;
}

.footer {
  min-height: 123px;
  background-color: rgba(69, 73, 77, 1);
  color: white;
}

.footer-content-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-navigate {
  width: 224px;
  margin-right: 20px;
}

.footer-link-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  color: white;
}

.social-link-wrapper {
  display: flex;
  justify-content: space-between;
  width: 152px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.footer-line {
  height: 1px;
  background-color: white;
  margin: 10px 0 10px 0;
}

.footer-copyright {
  display: flex;
  justify-content: end;
}

.footer-copyright-text {
  font-size: 14px;
}

.lorem-ipsum-1,
.lorem-ipsum-2,
.lorem-ipsum-3,
.lorem-ipsum-4 {
  margin-bottom: 10px;
}


@media (min-width: 1920px) {
  .lorem-ipsum-1 {
    background-image: url(/img/mountains-3840.jpg);
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  .lorem-ipsum-1 {
    background-image: url(/img/mountains-1920.jpg);
  }
}

@media (max-width: 950px) {
  .lorem-ipsum-3-wrapper {
    margin-bottom: 10px;
  }

  .lorem-ipsum-3-content {
    margin-bottom: 50px;
  }
}

@media (min-width: 720px) and (max-width: 1279px) {
  .lorem-ipsum-1 {
    background-image: url(/img/mountains-1280.jpg);
  }

  .lorem-ipsum-3-img-1 {
    background-image: url(/img/USA-150.jpg);
  }

  .lorem-ipsum-3-img-2 {
    background-image: url(/img/Spanish-150.jpg);
  }

  .lorem-ipsum-3-img-3 {
    background-image: url(/img/Turkish-150.jpg);
  }

}

@media (max-width: 462px) {
  .footer-navigate,
  .social-link-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (min-width: 250px) and (max-width: 719px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 8fr 8fr 1fr;
    grid-template-areas:
      "pad-left  logo  button  pad-right"
      "pad-left  nav  nav  pad-right";
    background-color: rgba(0, 255, 255, 0.247);
    padding: 15px 0 15px 0;
  }

  .logo {
    width: 78px;
    grid-area: logo;
    align-self: center;
  }

  .navigate {
    display: block;
    width: 100%;
    grid-area: nav;
  }

  .navigate-wrapper {
    display: block;
    margin-top: 20px;
  }

  .navigate-element {
    border-top: 1px solid black;
    padding: 10px 0 10px 0;
  }

  .lorem-ipsum-1 {
    background-image: url(/img/mountains-640.jpg);
  }
}