:root {
  --font-family-inter: 'Inter', sans-serif;
  --font-family-readex-pro: 'Readex Pro', sans-serif;
  /* font size */
  --font-size-13: 0.8125rem;
  --font-size-14: 0.875rem;
  --font-size-15: 0.9375rem;
  --font-size-16: 1rem;
  --font-size-17: 1.0625rem;
  --font-size-18: 1.125rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-32: 2rem;
  --font-size-42: 2.625rem;
  --font-size-58: 3.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.section-header {
  font-size: var(--font-size-42);
  font-weight: 400;
  line-height: 52.5px;
  font-family: var(--font-family-readex-pro);
  text-align: center;
  margin-bottom: 9px;
}

.section-text {
  width: 420px;
  font-size: var(--font-size-13);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-readex-pro);
  align-self: center;
}

.button-explore {
  height: 50px;
  font-size: var(--font-size-18);
  font-weight: 400;
  font-family: var(--font-family-inter);
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 72px auto 73px;
  grid-template-areas:
    "pad-left header pad-right"
    "pad-left main pad-right"
    "pad-left footer pad-right";
  background-color: #F5F5F5;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 170px auto 96px;
  grid-template-areas:
    "logo  nav  buttons";
  grid-area: header;
  padding: 1.34vw 0 2.8vw 0;
}

.logo-img {
  max-width: 170px;
  grid-area: logo;
  align-self: center;
}

.header-navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1014px;
  flex-grow: 1;
  grid-area: nav;
  padding-bottom: 2px;
}

.header-navigate-element-wrapper {
  display: grid;
  grid-template-columns: 112px 1.7vw 99px 1.77vw 51px 2.29vw 68px;
  grid-template-areas:
    "text-1  pad-1  text-2  pad-2  text-3  pad-3  text-4";
}

.header-navigate-link {
  font-size: 14px;
  font-weight: 400;
  font-family: var(--font-family-inter);
  color: black;
}

.header-navigate-element:nth-child(1) {
  grid-area: text-1;
}

.header-navigate-element:nth-child(2) {
  grid-area: text-2;
}

.header-navigate-element:nth-child(3) {
  grid-area: text-3;
}

.header-navigate-element:nth-child(4) {
  grid-area: text-4;
}

.header-button-wrapper {
  grid-area: buttons;
}

.header-button-search,
.header-button-basket {
  border: none;
  background-color: transparent;
  padding-top: 2px;
}

.header-button-search {
  margin-right: 17px;
}

.main {
  grid-area: main;
}

.new-phones-wrapper {
  display: grid;
  grid-template-columns: 53px 0.22vw auto 1vw 616px 32px;
  grid-template-areas:
    "arrow-left  pad-1  phone-content  pad-2  three-phones  arrow-right"
    "arrow-left  pad-1  phone-content  pad-2  three-phones  arrow-right"
    "arrow-left  pad-1  phone-content  pad-2  three-phones  arrow-right";
  background-color: #dce5e2;
  border-radius: 34px;
}

.arrow-left-button {
  grid-area: arrow-left;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: none;
}

.new-phones-section-content {
  grid-area: phone-content;
  align-self: center;
  padding-top: 16px;
}

.new-phones-header {
  font-size: var(--font-size-58);
  font-weight: 400;
  line-height: 69.6px;
  font-family: var(--font-family-readex-pro);
  margin-bottom: 20px;
}

.new-phones-text {
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 19.2px;
  font-family: var(--font-family-inter);
  margin-bottom: 30px;
}

.new-phones-button {
  width: 170px;
}

.three-phone-img {
  grid-area: three-phones;
}

.arrow-right-button {
  width: 14px;
  grid-area: arrow-right;
  align-self: center;
  background-color: transparent;
  border: none;
}

.section-shop {
  padding-top: 74px;
}

.section-shop-header {
  margin-bottom: 10px;
}

.section-shop-text {
  max-width: 600px;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  font-family: var(--font-family-readex-pro);
  margin: 0 auto;
}

.section-shop-content-wrapper {
  display: grid;
  grid-template-areas:
    "laptop  phones  tablet"
    "watch  phones  tablet";
  column-gap: 0.799vw;
  row-gap: 50px;
  padding-top: 53px;
}

.section-shop-content-block {
  background-color: white;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
}

.laptop {
  display: flex;
  flex-direction: column;
  max-width: 639px;
  padding: 0 42px 0 42px;
  grid-area: laptop;
}

.laptop-img {
  max-width: 500px;
}

.laptop-header {
  max-width: 60px;
  align-self: flex-end;
  padding-left: 5px;
}

.laptop-text {
  max-width: 192px;
  text-align: end;
  align-self: flex-end;
}

.tablet {
  display: flex;
  flex-direction: column;
  grid-area: tablet;
  padding-top: 114px;
}

.tablet-header {
  text-align: center;
  padding-left: 2px;
  margin-bottom: 2px;
}

.tablet-text {
  text-align: center;
  max-width: 233px;
  margin: 0 auto;
}

.tablet-img {
  margin-top: 41px;
}

.phones {
  grid-area: phones;
  padding-top: 146px;
  padding-left: 17px;
}

.phones-img {
  margin-bottom: 36px;
}

.phones-header {
  text-align: center;
  padding-right: 15px;
}

.phones-text {
  text-align: center;
  max-width: 250px;
  margin-left: 15px;
}

.watch {
  display: flex;
  justify-content: space-between;
  grid-area: watch;
  padding-left: 43px;
}

.watch-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
  padding-right: 40px;
}

.section-shop-content-header {
  font-size: var(--font-size-15);
  font-weight: 400;
  font-family: var(--font-family-inter);
}

.section-shop-content-text {
  font-size: var(--font-size-32);
  font-weight: 400;
  line-height: 38.4px;
  font-family: var(--font-family-readex-pro);
}

.section-save {
  display: flex;
  flex-direction: column;
  padding-top: 5.261vw;
}

.section-save-header {
  margin-bottom: 9px;
}

.section-save-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3vw;
}

.section-save-content-block {
  display: flex;
  flex-direction: column;
  max-width: 302.5px;
  flex-grow: 1;
}

.section-save-content-img {
  max-width: 247px;
  align-self: center;
  margin-left: 3px;
  margin-bottom: 39px;
}

.section-save-content-header {
  font-size: var(--font-size-22);
  font-weight: 400;
  line-height: 27.5px;
  font-family: var(--font-family-readex-pro);
  margin-left: 1px;
  margin-bottom: 9px;
}

.section-save-content-text {
  max-width: 261px;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-inter);
  margin-left: 1px;
}

.section-save-content-price {
  font-size: var(--font-size-18);
  font-weight: 400;
  font-family: var(--font-family-inter);
  margin-top: 8px;
  margin-left: 1px;
}

.price-margin {
  margin-top: 25px;
  margin-left: 1px;
}

.section-see {
  display: flex;
  flex-direction: column;
  padding-top: 3.99vw;
}

.section-see-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 3.09vw;
  padding-left: 1px;
}

.section-see-content-block {
  display: flex;
  flex-direction: column;
  width: 413px;
  text-align: center;
  background-color: #F8F9FA;
  border-radius: 16px;
  padding-top: 38px;
}

.section-see-content-text {
  font-size: var(--font-size-13);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-readex-pro);
}

.section-see-content-header {
  font-size: var(--font-size-28);
  font-weight: 400;
  line-height: 35px;
  font-family: var(--font-family-readex-pro);
  margin-bottom: 29px;
}

.section-see-content-button {
  width: 190px;
  align-self: center;
  margin-bottom: 31px;
}

.section-see-content-block:nth-child(1)>.section-see-content-img {
  max-width: 259px;
}

.section-see-content-block:nth-child(2)>.section-see-content-img {
  max-width: 294px;
}

.section-see-content-block:nth-child(3)>.section-see-content-img {
  max-width: 355px;
}

.section-see-content-img {
  align-self: center;
}

.section-ideas {
  display: flex;
  flex-direction: column;
  padding: 75px 0 24px 0;
}

.section-ideas-text {
  text-align: center;
}

.section-ideas-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 67px;
}

.section-ideas-content-img {
  width: 620px;
}

.section-ideas-content-text-wrapper {
  padding-top: 15px;
  margin-left: 10px;
}

.section-ideas-content-text {
  max-width: 639px;
  font-size: var(--font-size-24);
  font-weight: 400;
  line-height: 30px;
  font-family: var(--font-family-inter);
  margin-bottom: 28px;
}

.section-ideas-button-wrapper {
  display: flex;
  align-self: center;
  padding-top: 7px;
}

.section-ideas-button {
  font-size: var(--font-size-24);
  font-weight: 400;
  line-height: 28.8px;
  font-family: var(--font-family-inter);
  border: none;
  background-color: transparent;
}

.section-looking {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 19px;
}

.section-looking-header {
  padding-left: 1px;
  margin-bottom: 23px;
}

.section-looking-search-wrapper {
  display: flex;
  align-items: center;
  max-width: 650px;
  width: 100%;
  height: 60px;
  border: 1px solid #C5C5C5;
  border-radius: 100px;
  margin-bottom: 18px;
}

.section-looking-search-button {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 7.2%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 100px 0 0 100px;
  padding-bottom: 3px;
}

.section-looking-search-input:focus-visible {
  border: none;
}

.section-looking-search-input {
  width: 92.8%;
  height: 100%;
  border: none;
  border-radius: 0 100px 100px 0;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-inter);
  padding-left: 21px;
  padding-bottom: 1px;
}

.prompt-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 620px;
  margin-bottom: 60px;
}

.prompt-button {
  height: 42px;
  padding: 0 22px 0 22px;
  border: 1px solid #C5C5C5;
  border-radius: 200px;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-inter);
  margin-right: 5.9px;
  margin-bottom: 7px;
  padding-bottom: 1px;
}

.section-looking-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 935px;
  width: 100%;
  background-color: #dce5e2;
  border-radius: 16px;
  padding-top: 49px;
  padding-bottom: 42px;
}

.section-looking-content-text {
  width: 100%;
  text-align: center;
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 19.2px;
  font-family: var(--font-family-inter);
  margin-bottom: 14px;
}

.section-looking-content-img {
  margin-bottom: 15px;
}

.section-looking-content-email-wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 400px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  border-radius: 54px 54px 54px 54px;
}

.section-looking-content-email-input {
  width: 71.4%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 200px 0 0 200px;
  background-color: transparent;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 16.8px;
  font-family: var(--font-family-inter);
  padding-left: 32px;
}

.section-looking-content-email-button {
  width: 28.6%;
  height: 100%;
  border: none;
  background-color: black;
  border-radius: 0 200px 200px 0;
  font-size: var(--font-size-14);
  font-weight: 400;
  line-height: 17px;
  color: white;
  font-family: var(--font-family-inter);
}

.footer {
  grid-area: footer;
}

.footer-navigate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 60px;
}

.footer-logo-wrapper {
  max-width: 394px;
  flex-grow: 1;
  padding-top: 9px;
}

.footer-logo {
  width: 181px;
  margin-bottom: 14px;
}

.footer-logo-text {
  max-width: 304px;
  font-size: var(--font-size-16);
  font-weight: 400;
  line-height: 19.2px;
  font-family: var(--font-family-inter);
  padding-left: 1px;
}

.footer-text-wrapper {
  max-width: 197px;
  flex-grow: 1;
}

.footer-text-header {
  font-size: var(--font-size-22);
  font-weight: 400;
  line-height: 27.5px;
  font-family: var(--font-family-readex-pro);
  margin-bottom: 18px;
}

.footer-text {
  font-size: var(--font-size-17);
  font-weight: 400;
  line-height: 21.6px;
  font-family: var(--font-family-inter);
  margin-bottom: 15px;
}

.letter-spacing-footer {
  letter-spacing: 0.8px;
}

@media (max-width: 1440px) {
  .section-shop-content-wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "laptop"
      "tablet"
      "phones"
      "watch";
    column-gap: 0.799vw;
    row-gap: 2.625vw;
    padding: 2.78vw 25px 0 25px;
  }

  .section-shop-content-block {
    display: grid;
    grid-template-areas:
      "header"
      "text"
      "img";
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
  }

  .section-shop-content-header {
    max-width: 100%;
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    justify-self: center;
    margin-top: 15px;
    grid-area: header;
  }

  .section-shop-content-text {
    max-width: 100%;
    text-align: center;
    margin: 20px 0;
    padding: 0;
    grid-area: text;
  }

  .section-shop-content-img {
    width: 100%;
    margin: 0;
    padding: 0;
    grid-area: img;
  }

  .laptop-img {
    display: block;
    max-width: 80%;
    margin: 0 auto;
  }

  .watch {
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "img";
  }

  .watch-text-wrapper {
    padding: 0;
    margin: 0;
    grid-area: text;
    text-align: center;
  }

  .watch-img {
    grid-area: img;
  }

  .section-save-content-block {
    margin: 10px;
    text-align: center;
  }

  .section-see-content-wrapper {
    justify-content: center;
  }

  .section-see-content-block {
    margin: 10px;
  }

  .section-ideas-content-wrapper {
    justify-content: center;
    padding: 15px 0 0 0;
  }

  .section-ideas-content-text-wrapper {
    width: 80%;
    text-align: center;
    margin-left: 0;
    margin-top: 20px;
  }

  .section-ideas-content-text {
    max-width: 100%;
  }
}

@media (max-width: 1170px) {
  html {
    text-align: center;
    font-size: 18px;
  }

  .new-phones-wrapper {
    grid-template-columns: 53px auto 32px;
    grid-template-areas:
      "arrow-left  three-phones  arrow-right"
      "arrow-left  phone-content  arrow-right";
    padding-bottom: 20px;
  }

  .three-phone-img {
    justify-self: center;
  }

  .footer-navigate {
    text-align: center;
  }

  .footer-logo-wrapper {
    max-width: 100%;
    width: 100%;
    padding-top: 9px;
  }

  .footer-logo {
    width: 181px;
    margin-bottom: 14px;
  }

  .footer-logo-text {
    max-width: 90%;
    font-size: var(--font-size-16);
    padding: 0;
    margin: 0 auto;
  }

  .footer-text-wrapper {
    max-width: 25%;
    width: 100%;
    margin: 10px 0 0 0;
  }

  .footer-text-header {
    font-size: var(--font-size-22);
    margin-bottom: 18px;
  }

  .footer-text {
    margin-bottom: 15px;
  }

}

@media (max-width: 900px) {
  html {
    font-size: 22px;
  }

  .wrapper {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .header {
    padding: 0 5px 0 20px;
  }

  .new-phones-wrapper {
    border-radius: 0;
    text-align: center;
  }

  .footer {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 720px) {

  .header {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "logo  buttons"
      "nav  nav";
    row-gap: 20px;
    background-color: rgba(250, 235, 215, 0.386);
  }

  .logo-img {
    justify-self: center;
  }

  .header-button-wrapper {
    justify-self: center;
  }
}

@media (max-width: 420px) {
  .header {
    grid-template-columns: auto;
    grid-template-areas:
      "logo"
      "nav"
      "buttons";
    padding-top: 10px;
  }

  .header-navigate-element-wrapper {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    grid-template-areas:
      "text-1"
      "text-2"
      "text-3"
      "text-4";
    row-gap: 10px;
  }

  .header-navigate {
    display: block;
  }

  .header-navigate-link {
    font-size: var(--font-size-14);
    display: block;
    width: 100%;
  }
}